@-ms-viewport
{
	width: 380px;
}

@-webkit-viewport
{
	width: 380px;
}

@-o-viewport
{
	width: 380px;
}

@-moz-viewport
{
	width: 380px;
}

@viewport
{
	width: 380px;
}

.html
{
	background-color: #7F7F7F;
}

#page
{
	z-index: 1;
	width: 380px;
	min-height: 550px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: #FFFFFF;
	padding-top: 20px;
}

#u85-4
{
	z-index: 2;
	width: 351px;
	min-height: 42px;
	margin-left: 15px;
}

#u224-25
{
	z-index: 25;
	width: 327px;
	min-height: 367px;
	margin-left: 23px;
	margin-top: 41px;
	position: relative;
}

#u224-2
{
	font-size: 27px;
	text-align: center;
	font-family: source-sans-pro, sans-serif;
	font-weight: 200;
}

#u224-4,#u224-5,#u224-6,#u224-7,#u224-8,#u224-9,#u224-10,#u224-12,#u224-14,#u224-16,#u224-17,#u224-18,#u224-19,#u224-20,#u224-22
{
	font-size: 17px;
	text-align: center;
	font-family: source-sans-pro, sans-serif;
	font-weight: 200;
}

#menuu87
{
	z-index: 6;
	width: 380px;
	margin-top: 20px;
}

#u126
{
	width: 125px;
	min-height: 71px;
	margin-right: -10000px;
}

#u127
{
	width: 125px;
	padding-bottom: 40px;
}

#u127:hover
{
	margin: 0px;
}

#u127:active
{
	margin: 0px;
}

#u129-4
{
	width: 125px;
	min-height: 31px;
	margin-right: -10000px;
	top: 20px;
}

#u127:hover #u129-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 31px;
	margin: 0px -10000px 0px 0px;
}

#u127:active #u129-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 31px;
	margin: 0px -10000px 0px 0px;
}

#u163
{
	width: 125px;
	min-height: 71px;
	margin-right: -10000px;
	left: 127px;
}

#u166
{
	width: 125px;
	padding-bottom: 40px;
}

#u127.MuseMenuActive,#u166:hover
{
	margin: 0px;
}

#u166:active
{
	margin: 0px;
}

#u167-4
{
	width: 125px;
	min-height: 31px;
	margin-right: -10000px;
	top: 20px;
}

#u127.MuseMenuActive #u129-4,#u166:hover #u167-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 31px;
	margin: 0px -10000px 0px 0px;
}

#u166:active #u167-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 31px;
	margin: 0px -10000px 0px 0px;
}

#u231
{
	width: 126px;
	min-height: 71px;
	margin-right: -10000px;
	left: 254px;
}

#u232
{
	width: 126px;
	padding-bottom: 40px;
}

#u166.MuseMenuActive,#u232:hover
{
	margin: 0px;
}

#u232:active
{
	margin: 0px;
}

#u232.MuseMenuActive
{
	margin: 0px;
}

#u235-4
{
	width: 126px;
	min-height: 31px;
	margin-right: -10000px;
	top: 20px;
}

#u166.MuseMenuActive #u167-4,#u232:hover #u235-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 31px;
	margin: 0px -10000px 0px 0px;
}

#u232:active #u235-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 31px;
	margin: 0px -10000px 0px 0px;
}

#u232.MuseMenuActive #u235-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 31px;
	margin: 0px -10000px 0px 0px;
}

#page .verticalspacer
{
	clear: both;
}

