#u85-4
{
	font-size: 26px;
	text-align: center;
	font-family: source-sans-pro, sans-serif;
	font-weight: 200;
	position: relative;
}

#u127
{
	background-color: #0071BC;
	position: relative;
}

#u127:hover
{
	background-color: #999999;
}

#u127:active
{
	background-color: #6B6B6B;
}

#u129-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	font-size: 26px;
	text-align: center;
	color: #FFFFFF;
	font-family: source-sans-pro, sans-serif;
	font-weight: 200;
	position: relative;
}

#u166
{
	background-color: #0071BC;
	position: relative;
}

#u166:hover
{
	background-color: #999999;
}

#u166:active
{
	background-color: #6B6B6B;
}

#u167-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	font-size: 26px;
	text-align: center;
	color: #FFFFFF;
	font-family: source-sans-pro, sans-serif;
	font-weight: 200;
	position: relative;
}

#menuu87,#u126,#u163,#u231
{
	position: relative;
}

#u232
{
	background-color: #0071BC;
	position: relative;
}

#u232:hover
{
	background-color: #999999;
}

#u232:active
{
	background-color: #6B6B6B;
}

#u127.MuseMenuActive,#u166.MuseMenuActive,#u232.MuseMenuActive
{
	background-color: #FFFFFF;
}

#u235-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	font-size: 26px;
	text-align: center;
	color: #FFFFFF;
	font-family: source-sans-pro, sans-serif;
	font-weight: 200;
	position: relative;
}

#u127.MuseMenuActive #u129-4,#u166.MuseMenuActive #u167-4,#u232.MuseMenuActive #u235-4
{
	border-style: none;
	border-color: transparent;
}

#u127.MuseMenuActive #u129-4 p,#u166.MuseMenuActive #u167-4 p,#u232.MuseMenuActive #u235-4 p
{
	color: #2E3192;
	visibility: inherit;
}

.MenuItem /* unifiedNavBar */
{
	cursor: pointer;
}

